<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/plyr.css">
	<link rel="stylesheet" href="/css/photoswipe.css">
	<link rel="stylesheet" href="/css/default-skin.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo</title>

</head>
<body class="body">

	<div class="sign section--bg" data-bg="/img/home/home__bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="" class="Order__form" method="POST">
							<a href="/" class="sign__logo">
								<img src="/img/logo.svg" alt="">
							</a>
							
							<div class="sign__group">
								<span style="float: left;">Phim:</span>&emsp;&emsp;&ensp;
								<select class="selectpicker sign__input" mbsc-dropdown name="film" id="film" onchange="load()">
									<% for(let i = 0; i < film.length ; i++ ) { %>
										<% let cn = film[i] %>
									<option value="<%= cn.id%>"><%= cn.filmName%></option>
									<% } %>
								</select>
							</div>
							<div class="sign__group">
								<span style="float: left;">Rạp:</span>&emsp;&emsp;&nbsp;&ensp;
								<select class="selectpicker sign__input" mbsc-dropdown name="cinema" id="cinema" onchange="load()">
									<% for(let i = 0; i < cinema.length ; i++ ) { %>
										<% let cn = cinema[i] %>
									<option value="<%= cn.id%>"><%= cn.cinemaName%></option>
									<% } %>
								</select>
							</div>
							<div class="sign__group">
								<span style="float: left;">Suất Chiếu:</span>
								<select class="selectpicker sign__input" mbsc-dropdown name="timeStart" id="timeStart">
									<% for(let i = 0; i < movie.length ; i++ ) { %>
										<% let cn = movie[i] %>
									<option value="<%= cn.id%>"><%= cn.DateStart.getDate()%>-<%=cn.DateStart.getMonth()%>-<%=cn.DateStart.getFullYear()%> <%=cn.DateStart.getHours()%>:<%=cn.DateStart.getMinutes()%></option>
									<% } %>
								</select>
							</div>
							<div class="sign__group">
								<span style="float: left;">Hàng ghế:</span>&nbsp;
								<select class="selectpicker sign__input" mbsc-dropdown name="codeH" id="codeH">
									<option value="A">hàng A</option>
									<option value="B">hàng B</option>
									<option value="C">hàng C</option>
									<option value="D">hàng D</option>
								</select>
							</div>
							<div class="sign__group">
								<span style="float: left;">Ghế:</span>&emsp;&emsp;&nbsp;&ensp;
								<select class="selectpicker sign__input" mbsc-dropdown name="codeW" id="codeW">
									<option value="1">ghế 1</option>
									<option value="2">ghế 2</option>
									<option value="3">ghế 3</option>
									<option value="4">ghế 4</option>
									<option value="5">ghế 5</option>
									<option value="6">ghế 6</option>
									<option value="7">ghế 7</option>
									<option value="8">ghế 8</option>
									<option value="9">ghế 9</option>
								</select>
							</div>
							<button class="sign__btn" type="submit">Mua vé</button>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.mousewheel.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="/js/wNumb.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/plyr.min.js"></script>
	<script src="/js/jquery.morelines.min.js"></script>
	<script src="/js/photoswipe.min.js"></script>
	<script src="/js/photoswipe-ui-default.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>
<% 

%>
<script>
    var lstdelete="";
    $(document).ready(function() {
      var movie = $.parseJSON('<%-JSON.stringify(movie)%>');
	  var film = $.parseJSON('<%-JSON.stringify(film)%>');
	  var cinema = $.parseJSON('<%-JSON.stringify(cinema)%>');
    });
	function load()
	{   
		debugger
		$.ajax({  
           url:'/auth/booking/load',  
           method:'POST',  
           dataType:'json', 
		   data:{'filmID':$('#film').val(), 'cinemaID': $('#cinema').val()},  
           success:function(data){ 
               if(data.length > 0){  
					$("#timeStart").empty();
					var a = new Date();
					for(var i=0; i< data.length;i++)
					{
						var a = new Date(data[i].DateStart);
						var x = document.getElementById("timeStart");
			   			var option = document.createElement("option");
						option.text = a.getDate()+"-"+a.getMonth()+"-"+a.getFullYear()+"  "+ a.getHours()+":"+a.getMinutes()
						option.value = data[i].id;
						x.add(option,x[i]);
					}
               } 
			   else
			   {
				   $("#timeStart").empty();
			   }
           },  
           error:function(data){  
               alert('server error occured')  
           }  
       });    
    }
</script>