
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Paper Dashboard 2 by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/admin/dashboard" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="/assets/img/logo-small.png">
          </div>
        </a>
        <a href="/admin/dashboard" class="simple-text logo-normal">
          Dashboard
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/admin/dashboard">
              <i class="nc-icon nc-bank"></i>
              <p>Doanh Thu</p>
            </a>
          </li>
          <li>
            <a href="/admin/cinema">
              <i class="nc-icon nc-diamond"></i>
              <p>Quản lý rạp</p>
            </a>
          </li>
          <li>
            <a href="/admin/cinemaGroup">
              <i class="nc-icon nc-pin-3"></i>
              <p>Quản lý cụm rạp</p>
            </a>
          </li>
          <li class="active ">
            <a href="/admin/film">
              <i class="nc-icon nc-bell-55"></i>
              <p>Quản lý phim</p>
            </a>
          </li>
          <li>
            <a href="/admin/movie">
              <i class="nc-icon nc-single-02"></i>
              <p>Suất chiếu</p>
            </a>
          </li>
          <li>
            <a href="/admin/User">
              <i class="nc-icon nc-tile-56"></i>
              <p>Tài khoản</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Quản lý phim</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Tài khoản</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/admin/logoutadmin">Đăng xuất</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"  data-whatever="Tạo Mới">Tạo Mới</button>
            <!--popup tạo mới/ cập nhật-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="reload()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="POST">
                    <div style="float: left;">
                      <input type="text" style="color: transparent;" id="ID" name="ID" hidden>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tên phim:</label>
                        <input type="text" class="form-control" name="filmName" id="filmName">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Thời gian:</label>
                        <input id="DateShow" name="DateShow" class="form-control" type="date"/>
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Thời lượng:</label>
                        <input type="text" class="form-control" name="time" id="time">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mô tả:</label>
                        <textarea class="form-control" name="Description" id="Description" rows="3"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Trailer:</label>
                        <input type="text" class="form-control" name="Trailer" id="Trailer">
                      </div>
                      <input type='text' name="files" id="files"/>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Thực hiện</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="reload()">Đóng</button>
                      </div>
                    </div>
                    <div style="float: right;">
                        <div class="form-group" style="margin-top: 15px;">
                            <img src="/img/covers/cover2.jpg" alt="poster" width="200" height="350" id="imgposter">
                            <script>
                              function encodeImageFileAsURL() {

                                var filesSelected = document.getElementById("poster").files;
                                if (filesSelected.length > 0) {
                                  var fileToLoad = filesSelected[0];

                                  var fileReader = new FileReader();

                                  fileReader.onload = function(fileLoadedEvent) {
                                    var srcData = fileLoadedEvent.target.result; 
                                    $("#files").val(srcData);
                                  }
                                  fileReader.readAsDataURL(fileToLoad);
                                }
                              }
                                window.addEventListener('load', function() {
                                  debugger
                                    document.querySelector('input[type="file"]').addEventListener('change', function() {
                                      debugger
                                        if (this.files && this.files[0]) {
                                            //var img = document.querySelector('img');
                                            var img = document.getElementById('imgposter');
                                            img.onload = () => {
                                                URL.revokeObjectURL(img.src);  // no longer needed, free memory
                                            }
                                            
                                            img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                                        }
                                    });
                                    
                                });
                            </script>
                            <input type='file' name="poster" id="poster" placeholder="tải ảnh lên" onchange="encodeImageFileAsURL()"/>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->
          </div>
          <div class="col-lg-2 col-md-3 col-sm-1">
            <a class="btn btn-secondary" id="link" href="" role="button">Xóa</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Danh sách phim</h5>
              </div>
              <div class="card-body ">
                <table class="table table-hover table-info">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">STT</th>
                      <th scope="col">Tên phim</th>
                      <th scope="col">Thời gian</th>
                      <th scope="col">Thời lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < film.length ; i++ ) { %>
                      <% let cn = film[i] %>
                    <tr>
                      <th><input type="checkbox" class="fill-control-input" id="a<%= cn.id%>" onclick="check(this.id)"></th>
                      <td>
                          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="modal" data-placement="top" title="Edit" data-target="#exampleModal" data-whatever="Cập nhật" id="<%= cn.id%>" Onclick="Edit(this.id)"><i class="fa fa-edit"></i></button>
                      </td>
                      <th scope="row"><%= i+1%></th>
                      <td><%= cn.filmName%></td>
                      <td><%= cn.DateShow%></td>
                      <td><%= cn.time%></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="float: right;">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script>
    var lstdelete="";
    $(document).ready(function() {
      var film = $.parseJSON('<%-JSON.stringify(film)%>');
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var recipient = button.data('whatever')
      var modal = $(this)
      modal.find('.modal-title').text(recipient+' phim');
    })
    function reload()
    {
      $("#filmName").val("");
      $("#DateShow").val("");
      $("#poster").val("");
      $("#time").val("");
      $("#Description").val("");
      $("#Trailer").val("");
      $("#ID").val("");
      document.getElementById("imgposter").src= '/img/covers/cover2.jpg';
      //$("#files").val("");
      $("#poster").val("");
    }
    function Edit(id)
    {
      var button = $(event.relatedTarget)
      var recipient = button.data('whatever')
      var modal = $(this)
      modal.find('.modal-title').text(recipient+' phim');
      var film = $.parseJSON('<%-JSON.stringify(film)%>');
      for(let i = 0; i < film.length ; i++ ) 
      {
        let cn = film[i];
        if(cn.id==id)
        {
          console.log(cn.time)
          $("#filmName").val(cn.filmName);
          $("#DateShow").val(cn.DateShow);
          $("#time").val(cn.time);
          $("#Description").val(cn.Description);
          $("#Trailer").val(cn.Trailer);
          $("#ID").val(cn.id);
          document.getElementById("imgposter").src= '/img/covers/'+cn.poster;
          //$("#files").val(cn.poster);
          $("#poster").val(cn.poster);
        }
      }
    }
    function check(id) 
    {
      var checkBox = document.getElementById(id);
      if (checkBox.checked == true){
        lstdelete =lstdelete + id.substr(1, id.length-1)+",";
      } 
      document.getElementById("link").setAttribute("href","/admin/film/:"+lstdelete);
    }
    $('#poster').on('change',function ()
        {
            var filePath = Request.Form.Files["poster"].FileName;
            console.log(filePath);
            $('#files').val(filePath);
        });
  </script>
  
</body>

</html>
